.navigation {
    display: flex;
    background-color: #0e0e0e52;
    border-width: 3px;
    border-color: #1010102c;
    border-style: solid;
    border-radius: 10px;
    margin: 10px auto;
    text-decoration: none;
    text-shadow: 1px 2px 5px #ffffff;
    font-size: 24px;
    text-align: center;
    max-width: 1000px;
    justify-content: center;
    flex-direction: row;
    padding: 0 20px;
    flex-wrap: wrap;
}

.navigation__link {
    color: #ddd;
    text-decoration: none;
    background-color: #0e0e0ecd;
    border-radius: 10px;
    padding: 5px 30px;
    margin: 10px;
}

.navigation__link:hover {
    color: #0000d7;
    outline: none;

}

.navigation__link:active {
    color: #0000ff;
}

.navigation__dark {
    color: #ddd;
    text-decoration: none;
    background-color: #0e0e0ecd;
    border-radius: 10px;
    margin: 10px;
    text-shadow: 1px 2px 5px #ffffff;
    font-size: 24px;
    padding: 5px 10px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
}

.navigation__dark:hover {
    color: #0000d7;
    outline: none;
}

.navigation__dark:active {
    color: #0000ff;
}